body{
  padding: 0;
  margin: 0;

}

.container{
  background:  linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  width: 100%;
  height: 100vh;
}
.container:hover{
  background: linear-gradient(142deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
}

.main{
  background: aqua;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  border-radius: 20px;
  width: 60%;
  height: 80%;

}

.info{

  margin-left: 3%;
  margin-bottom: 0;
  text-align: center;
}
.yes1{
  margin-bottom: 0;
  letter-spacing: 2px;

}

.yes{
  margin-top: 0;
  letter-spacing: 2px;
}


.btn1 {
  margin-top: 5%;
  margin-left: 30%;
  margin-right: 25%;
  font-size:15px;
  font-family:Arial;
  width:50px;
  height:30px;
  border-width:1px;
  color:#ffffff;
  border-color:#ee1eb5;
  font-weight:bold;
  border-top-left-radius:6px;
  border-top-right-radius:6px;
  border-bottom-left-radius:6px;
  border-bottom-right-radius:6px;
  box-shadow:inset 0 1px 0 0 #fbafe3;
  text-shadow:inset 0 1px 0 #c70067;
  background:linear-gradient(#ff5bb0, #ef027d);
  cursor: pointer;
}

.btn1:hover {
  background: linear-gradient(#ef027d, #ff5bb0);
}



.btn2{
  font-size:15px;
  font-family:Arial;
  width:50px;
  height:30px;
  border-width:1px;
  color:#ffffff;
  border-color:#ee1eb5;
  font-weight:bold;
  border-radius: 10px;
  box-shadow:inset 0 1px 0 0 #fbafe3;
  text-shadow:inset 0 1px 0 #c70067;
  background:linear-gradient(#ff5bb0, #ef027d);
  cursor: pointer;
}

.btn2:hover{
  background: linear-gradient(#ef027d, #ff5bb0);
}
@media (max-width:580px){
        .main{
          height: 60%;
        }
}


.btn3,.btn4,.btn5,.btn6,.btn7,.btn8,.btn9,.btn10,.btn11,.btn12,.btn13,.btn14{
font-size:15px;
font-family:Arial;
width:90px;
height:40px;
border-width:1px;
color:#ffffff;
border-color:#d83526;
font-weight:bold;
border-radius: 10px;
box-shadow:inset 0 1px 0 0 #f29c93;
text-shadow:inset 0 1px 0 #b23e35;
background:linear-gradient(#fe1a00, #ce0100);
visibility: hidden;
cursor: pointer;
}

.btn3{
  display: inline-block;
  margin-left: 50
}
.bu{
  visibility: hidden;
  height: 80%;
  width: 70%;
  position: relative;
  left: 55%;
  top: 30%;
  transform: translate(-50%,-50%);

}
.b3,.b4,.b5,.b6,.b7,.b8,.b9,.b10,.b11,.b12,.b13,.b14{
  width: 95px;
  height: 45px;

  position:absolute;
}
.b4{
  margin-left: 28%;
}
.b5{
  margin-left: 56%;
}
.b6{
  margin-top: 15%;
}
.b7{
  margin-top: 15%;
  margin-left: 28%;
}
.b8{
  margin-top: 15%;
  margin-left: 56%;
}
.b9{
  margin-top: 30%;
  margin-left: 28%
}
.b10{
  margin-top: 30%;
}
.b11{
  margin-top: 30%;
  margin-left: 56%;
}
.b12{
  margin-top: 45%;
}
.b13{
  margin-top: 45%;
  margin-left: 28%;
}
.b14{
  margin-top: 45%;
  margin-left: 56%;
}
